body
{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  --caption-color: #e56b6f;
  --link-color: #355070;
}

html {
  overflow-x: hidden;
  margin-right: calc(100% - 100vw);
}

/* TOP NAVIGATION BAR */
.topnav {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  max-width: 1000px;
  margin: auto;
  margin-top: 50pt;
  background-color: var(--link-color);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav ontheright {
  font-weight: bold;
  float: right;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 18px;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--caption-color);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--caption-color);
  color: white;
}

.topnav a:link {
  color: #ffffff;
	text-decoration: none;
}

.topnav a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* MAIN STYLE */
a:link {
  color: var(--caption-color);
	text-decoration: none;
}

a:visited {
  color: var(--caption-color);
  text-decoration: none;
}

a:hover {
  color: var(--caption-color);
	text-decoration: underline;
}

a:active {
  color: var(--caption-color);
}

.wrapper {
	max-width: 1000px;
	margin: auto;
	margin-top: 10pt;
	margin-bottom: 50pt;
}

.section {
	margin-bottom: 30pt;
}

.section>h1 {
	margin-bottom: 20pt;
	font-size: xx-large;
	color: var(--link-color);
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.cv {
	display: table;
	width: 100%;
}

.myitem {
	display: table-row;
}

.myitem>div {
	display: table-cell;
	vertical-align: top;
}

.publication {
	margin: 10pt 0pt;
}

.publication>p {
	margin: 0pt 0pt;
}

.publication>.title {
	font-style: italic;
}

.maps {
    position: relative;
    padding-bottom: 40%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33%;
  padding: 0px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column2 {
  float: left;
  width: 50%;
  padding: 0px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column3 {
  float: left;
  width: 30%;
  padding: 0px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column4 {
  float: left;
  width: 70%;
  padding: 0px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
