body {
	font-family: "Open Sans", sans-serif;
    max-width: 500pt;
	margin: auto;
	margin-top: 25pt;
    margin-bottom: 25pt;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        margin-left: 0pt;
        margin-right: 0pt;
    }
}

h1 {
    color: #355070;
}

h2 {
    color: #355070;
}

a:link {
    color: #e56b6f;
	text-decoration: none;
}

a:visited {
    color: #e56b6f;
    text-decoration: none;
}

a:hover {
    color: #e56b6f;
	text-decoration: underline;
}